.feedback {
  width: 100%;
  padding: 5rem 2rem;
  /* height: 100vh; */
  /* border-top: 0.1px solid rgba(224, 221, 221, 0.85); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.feedback__container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5rem;
  justify-content: center;
}
.feedback__container > div > div:nth-of-type(1) {
  padding: 2rem;
}
.feedback__containerReview {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.feedback__avatar {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 2rem;
}
@media screen and (max-width: 768px) {
  .feedback__container {
    flex-direction: column;
    justify-content: center;
  }

  .feedback__containerReview > div {
    width: 100% !important;
    height: 100% !important;
  }
}
