.footer {
  width: 100%;
  background-color: #1e2022;
  color: white;
  padding: 6rem 5rem;
  /* height: 100vh; */
  color: gray;
  padding-bottom: 0;
  margin-bottom: 0;
}
.footerTop {
  height: 90%;
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
  /* align-items: center; */
}
.footerLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerRight {
  width: 60%;
  display: flex;
  gap: 2rem;
  color: white;
  justify-content: space-evenly;
}
.footerRight__content {
  display: flex;
  gap: 1.5rem;
  list-style: none;

  /* justify-content: center; */
  /* align-items: flex-start; */
}
.footerRight__dropdown {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footerRight__links > a {
  text-decoration: none;
  color: #dbd9db;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 13px;
}

.footerBottom {
  border-top: 0.1px solid gray;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLeft__logo {
  color: white;
  text-decoration: none;
}

.logo-boxDesign {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background-color: white;
  color: #283c64;
  transform: rotate(-13deg);
  margin: auto 8px;
  display: inline-block;
}
.logo-boxDesign > .logo-span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.footerLeft__content > p {
  padding-bottom: 1rem;
  color: gray;
  /* border-bottom: 0.1px solid rgba(224, 221, 221, 0.85); */
}
.footerLeft__icons > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 6rem 1rem;
    padding-bottom: 0;
  }
  .footerTop {
    display: block;
  }
  .footerLeft {
    width: 100%;
    text-align: center;
  }
  .footerLeft > div:nth-of-type(3) {
    margin: 0 auto;
  }
  .footerLeft > hr {
    margin: 0 auto !important;
  }
  .footerRight {
    width: 100%;
    margin-top: 3rem;
  }
}
