.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3rem 0;
  height: 60px;
  background-color: transparent;

  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header.deactive {
  /* visibility: hidden; */
  display: none;
}
.header__logo {
  color: white;
  text-decoration: none;
}

.logo-boxDesign {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background-color: white;
  color: #283c64;
  transform: rotate(-13deg);
  margin: auto 8px;
  display: inline-block;
}
.logo-boxDesign > .logo-span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.header__menuSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.header__menuToggleIcon {
  display: none;
}
.header__subMenuList {
  position: relative;
}

.header__subMenuList > li {
  padding: 1.3rem 1.5rem;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.04rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > a,
.header__menuSection a {
  text-decoration: none;
}

.header__subMenuList > li:hover {
  color: white;
  cursor: pointer;
}

.header__menuSection button {
  color: white;
  letter-spacing: 1px !important;
  font-weight: 300;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  padding: 6px 10px;
  font-size: 13px;
  background-color: #009cde;
  border-color: #009cde;
}
.header__menuSection button:hover {
  cursor: pointer;
  margin-top: -4px;
  transition: 0.3s ease-in;
  background-color: #009cde;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .header__logo {
    margin-bottom: 10px;
    position: relative;
    z-index: 99;
  }
  .header__logo > h2 {
    font-size: 18px;
    color: #c0cadf;
  }
  .logo-boxDesign > .logo-span {
    font-size: 15px;
    color: #c0cadf;
  }

  .logo-boxDesign {
    background-color: #283c64;
    color: white;
    width: 20px;
    height: 20px;
  }
  .header__menuSection {
    position: absolute;
    width: 100%;
    left: 0;
  }
  .header__menu {
    right: 0;
    display: block;
    height: 275px;
    position: absolute;
    left: 0;
    top: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    /* color: black; */
    background-color: var(--white);
  }
  .header__menuToggleIcon {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 90%;
    cursor: pointer;
    z-index: 90;
    /* color: var(--secondary) !important; */
    color: white !important;
  }
  .header__menuToggleIcon:hover {
    color: var(--primary) !important;
  }
  .header__menu.active {
    right: 0;
    top: -30px;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .header__subMenuList {
    display: block;
    width: 100%;
    top: 60px;
    padding: 0 20px;
  }
  .header__subMenuList > li {
    width: 100%;
    padding: 1.3rem 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary);
  }

  .header__subMenuList > li:hover {
    color: var(--primary);
  }

  .header__menuSection button {
    display: none;
  }
}
